$TTL    604800
@       IN      SOA     dns.lab.local. admin.lab.local. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      dns.lab.local.
dns     IN      A       192.168.150.10
db      IN      A       192.168.150.20

